
body{
    text-align: center;
    font-family: verdana;
    font-size: 20px; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: auto;
  width: 55%;
}
video {
  display: block;
  margin: auto;
  width: 55%;
}
section #commentaire{
    
}