/* :root : Déclarer les variables CSS */
:root {
    
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 10px */
}

body{
    font-size: 1.6rem;
    /*background-color: var(--color1);
    color: var(--color2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    width: 80rem;
    margin: 0 auto;

}