/* :root : Déclarer les variables CSS */
:root {
    --color1: #536b78;
    --color2: #cee5f2;
    --color3: #637081;
    --color4: #7c98b3;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 10px */
}

body{
    background-color: var(--color1);
    font-size: 1.6rem;
    color: var(--color2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80rem;
    margin: 2rem auto;
    border: .1rem solid var(--color2);
    padding-left: 1rem; 
    
}

table{
    background-color: var(--color3);
    border: .2rem solid var(--color4)
}